NEXT_PUBLIC_SUPABASE_URL="https://nhadlruijeooaesvzxsb.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_AFmKcY1ZRFuyYIHGD6oeNg_N2aXAtr_"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="drdbnmuud"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="challendge_upload_preset"